body {
  width: 100%;
  font-family: "Rubik", sans-serif;
  /* background: #ffffff; */
  padding-left: 0;
  padding-right: 0;
}
.footers {
  background: #f8f8f8;
}

.footers a {
  color: #4f5665;
}

.social-icon {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0px 10px 30px 2px #bdbdbd;
}

.social-icon i {
  color: #f53838 !important;
}

.footers p {
  color: #4f5665;
}

.footers ul {
  line-height: 30px;
}

#social-fb:hover {
  color: #3b5998;
  transition: all 0.001s;
}

#social-tw:hover {
  color: #4099ff;
  transition: all 0.001s;
}

#social-gp:hover {
  color: #d34836;
  transition: all 0.001s;
}

#social-em:hover {
  color: #f39c12;
  transition: all 0.001s;
}

.footer-link-title {
  font-weight: bold;
}

.sponsor-btn {
  width: 250px;
  height: 60px;
  background: rgb(245, 56, 56);
  box-shadow: 0 4px 30px 0 rgb(245, 56, 56, 0.3),
    0 6px 20px 0 rgb(245, 56, 56, 0.25);
  border-radius: 10px;
  border: none;
}
.mail-btn {
  background: rgb(245, 56, 56);
  box-shadow: 0 4px 30px 0 rgb(245, 56, 56, 0.3),
    0 6px 20px 0 rgb(245, 56, 56, 0.25);
  border-radius: 10px;
  border: none;
  color: #fff;
}
.sponsor-box {
  bottom: -5rem;
}

.sponsor-btn:hover {
  background: rgb(247, 10, 10);
}
.sponsor-btn:active {
  background: rgb(247, 10, 10);
}
.sponsor-btn:focus {
  background: rgb(247, 10, 10);
}

.mail-btn:hover {
  background: rgb(247, 10, 10);
}
.mail-btn:active {
  background: rgb(247, 10, 10);
}
.mail-btn:focus {
  background: rgb(247, 10, 10);
}

@media (max-width: 768px) {
  .sponsor-btn {
    width: max-content;
    height: max-content;
  }
}
